<div class="post-section">
  <% content_for :title, "#{@user.name}'s Posts" %>
  <%= render "users/user", user: @user %>
  <% @user.posts.each do | post | %>
    <%= link_to user_post_path(@user, post) do %>
      <%= render "post", post: post %>

      <div>
        <h4>
          <span>Comments</span>
          <span>for Post: </span>
          <span><%="#{post.title}"%> </span>
        </h4>
        <div class='postComments'>
          <% post.recent_comments.each do |comment| %>
            <div>
              <p>
                <span><strong><%= comment.user.name%>:</strong></span>
                <span><%= comment.text %></span>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>